<h1>Contact</h1>
<h2>Organising Committee</h2>
<h3>Convenor</h3>
<p><strong>Professor Geoff McColl</strong></p>
<p>Brendan Crotty<br>
Elizabeth (Liz) Molloy<br>
Jenny Barrett<br>
Debra Nestel<br>
Margaret Bearman<br>
Karen Nightingale</p>
<h3>Conference Management</h3>
<p><strong>Antoinette Woods</strong><br>
Conference Manager</p>
<p>PO Box 298  Hyde Park  Qld  4812<br>
T: +61 (7) 4725 5019<br>
E: <%= mail_to "info@tailoredstatements.com.au" %></p>