<h1>Host Information</h1>
<h2>Host City</h2>
<h3>Melbourne</h3>
<p>Melbourne is a creative, exciting, ever-changing city with extraordinary surprises to be discovered in every basement, rooftop and laneway. You just have to be curious enough to venture off the beaten path. The possibilities are endless, so forget what you think you know. Take a chance, roll the dice and see where it leads you.</p>
<p>Venture into Melbourne's basements, rooftops and laneways and discover gourmet feasts and fine wines, dynamic events, secret bars, boutiques and more.</p>
<p>For further information on Melbourne, flight schedules, touring information and accommodation visit the Conference website or:</p>
<ul>
  <li><a href="http://www.visitmelbourne.com" target="_blank"> Tourism Melbourne</a></li>
  <li><a href="http://www.melbourne.vic.gov.au" target="_blank">City of Melbourne</a></li>
  <li><a href="www.melbourne.com.au" target="_blank">Melbourne Online</a></li>
</ul>
<%= image_tag("melbourne-images.jpg", :size => "547x401 ", :alt => "Images of Melbourne") %>
<h2>Venue</h2>
<h3>The Sebel & Citigate, Albert Park</h3>
<p>The Conference will be held at the Sebel & Citigate Albert in Melbourne Victoria.</p>
<p>65 Queens Road, Melbourne<br>
Victoria  3004, Australia<br>
T: +61 (3) 8554 2809<br>
W: <%= link_to "accorhotels.com", "http://www.accorhotels.com" %></p>