<h1 id="title">ANZAHPE 2013</h1>
<h2 class="dates">24 - 27 JUNE 2013</h2>
<h2 class="location">The Sebel, Albert Park - Melbourne</h2>
<%= image_tag("melbourne-skyline.jpg", :size => "600x200 ", :alt => "Melbourne Skyline") %>
<h2>welcome</h2>
<p>On behalf of the Organising Committee I invite you to attend the Australian and New Zealand Association of Health Professional Educators Annual Conference in Melbourne from Monday the 24<sup>th</sup> to Thursday the 27<sup>th</sup> of June 2013.  The theme of this year's conference is the Professional Development of Health Professional Educators. If we are to develop a competent and sustainable health workforce fit for our current and future health care needs it is critical that our response is underpinned by the development of a competent and sustainable educator workforce. The ANZAHPE 2013 conference will focus on the professional development of our teachers and examine effective approaches in health professional education including simulation, clinical supervision, peer learning, inter-professional learning, assessment and education research skills.  With the assistance of an outstanding international and local conference faculty the conference will offer a variety of stimulating activities for those involved in health professional education.</p>
<p>We look forward to welcoming you to Melbourne and ANZAHPE 13.</p>
<p>- Geoff McColl</p>
<h2>Organising Committee</h2>
<p><strong>Geoff McColl (Convenor)</strong></p>
<p>Brendan Crotty<br>
Elizabeth (Liz) Molloy<br>
Jenny Barrett<br>
Debra Nestel<br>
Margaret Bearman<br>
Karen Nightingale</p>
<h2>Who Should Attend?</h2>
<p>ANZAHPE is the focal point for educators in the health professions in the Western Pacific Region and aims to promote, support and advance education in the health professions. Therefore attendance by the following groups of people is anticipated:</p>
<ul>
  <li>Academic staff teaching in allied health programs</li>
  <li>Clinicians teaching in allied health programs</li>
  <li>Undergraduate students or postgraduate students</li>
  <li>Researchers interested in health professional education</li>
  <li>Those interested in assessment, evaluation or curriculum design</li>
</ul>
<h2>Key Dates</h2>
<dl>
  <dt>Abstracts submissions</dt>
  <dd>NOW OPEN</dd>
  <dt>Deadline for abstract submission</dt>
  <dd>Close of business 7 February 2013</dd>
  <dt>Registration open</dt>
  <dd>December 2012</dd>
  <dt>Acceptance emailed</dt>
  <dd>7 March 2013</dd>
  <dt>Presenter / early bird registration close</dt>
  <dd>8 April 2013</dd>
  <dt>Provisional Program available</dt>
  <dd>15 April 2013</dd>
</dl>
