<h1>Program</h1>
<h2>Overview</h2>
<p>On behalf of the Organising Committee I invite you to submit an abstract to the Australian and New Zealand Association of Health Professional Educators Annual Conference in Melbourne from Monday the 24<sup>th</sup> to Thursday the 27<sup>th</sup> of June 2013. The theme of this year?s conference is the <strong>Professional Development of Health Professional Educators</strong>.  If we are to develop a competent and sustainable health workforce fit for our current and future health care needs it is critical that our response is underpinned by the development of a competent and sustainable educator workforce. The ANZAHPE 2013 conference will focus on the professional development of our teachers and examine effective approaches in health professional education including simulation, clinical supervision, peer learning, inter-professional learning, assessment and education research skills.  With the assistance of an outstanding international and local conference faculty the conference will offer a variety of stimulating activities for those involved in health professional education.<p>
<h3>Conference Theme</h3>
<p>Professional Development of Health Professional Educators</p>
<h3>Program Sub Themes</h3>
<ul>
  <li>Clinical Supervision</li>
  <li>Simulation</li>
  <li>Assessment</li>
  <li>Inter-professional learning</li>
  <li>Peer learning</li>
  <li>Research skills</li>
</ul>
<h3>Preliminary Program</h3>
<p>outline grid ? attached. Perhaps this could be a download pdf?  This will continue to grow as planning progresses and I will have updated more detailed programs to provide from March next year</p>
<h3>Keynote Speakers</h3>
<p><em>Information coming soon...</em></p>
<h3>Pre-Conference Workshop</h3>
<p><em>Information coming soon...</em></p>
<h3>Call for Papers</h3>
<%= link_to "Downlaod Template Examples", "/assets/Example-Template.pdf", :class => 'button' %>
<h2>Abstract Submission</h2>
<h3>Instructions and Guidelines</h3>
<p class='notify'>Deadline for abstract submission:  7 February 2013</p>
<p>On behalf of the ANZAHPE 13 Scientific Committee we invite you to submit an abstract to the conference addressing either key sub-theme or one of the foundational building blocks outlined under the conference themes. Abstracts are due by 7 February 2013 and authors are requested to submit abstracts for the following style of presentation:</p>
<ul>
  <li>Poster (10 min)</li>
  <li>Small group workshop (30 min)</li>
  <li>PeArL session (30 min)</li>
  <li>Oral Presentations (15 min)</li>
  <li>Workshops (45 or 90 min)</li>
</ul>
<h4>Presentation formats</h4>
<p>As its core ANZAHPE values communication and importantly active participation. Conference presentations strive to embody effective communication and encourage interaction between society members, guests, presenters and attendees. Presentation formats are designed to inform active participation with specified time allocation for group discussion and interaction.</p>
<h4>Poster presentations</h4>
<p>Posters will be displayed for the duration of the conference. Each poster will be allocated a 1 metre wide x 2 metres high board and the poster must fit within this area. Poster presenters will be given 10 minutes to present and discuss your poster during the Conference program. Poster presentation details and specifications will be provided in the speaker briefing notes.</p>
<h4>Small group workshop</h4>
<p>Presenters will be allocated 30 minutes including 10 minute presentation time to highlight the main points, followed by a 20 minute discussion.</p>
<h4>Personally Arranged Learning Sessions (PeArLs)</h4>
<p>PeArL sessions will be allocated 20 - 30 minutes with 10 minutes to define the topic plus 20 minutes for open discussion. PeArL sessions will be limited to 3 concise presentation slides. PeArL sessions allow an opportunity for those who are developing ideas, those who are taking ideas from development into implementation and those who are planning evaluation of their ideas, to share, discuss and gain insight into their positions by tapping into the wisdom and experience of others.</p>
<h4>Oral presentations</h4>
<p>Oral Presentations will be allocated 15 minutes. This will include 12 minutes for presentation and 3 minutes for questions.</p>
<h4>Workshops</h4>
<p>Conference workshops will be allocated either 45 or 90 minutes as requested by the presenter(s). Workshops are working sessions with defined objectives, such as defining the scope and nature of an education issue, developing a plan of action, solving a problem, or demonstration of educational innovations with hands-on experience.</p>
<h4>Presenter registration</h4>
<p>Submissions are accepted on the basis that all presenting authors must register and pay the appropriate conference fee by 8 April 2013. Co-presenters are allowed, but must register for the minimum daily registration on the day of their presentation if they wish to present. Where there are multiple presenters it is important the presentation time is strictly adhered to so enough time is available for questions. Speakers need to meet their own travel and accommodation costs. It will be assumed any presenter not registered by this date has withdrawn and their abstract will be removed from the program.</p>
<h4>Full paper publication</h4>
<p>We encourage presenters to submit their full papers for consideration for publication in the ANZAHPE journal - Focus on Health Professional Education: A Multidisciplinary Journal.</p>
<h4>AV equipment</h4>
<p>A data projector, computer (IBM compatible), whiteboard and laser pointer will be available in each room. Presenters are not able to use their own laptop to run their presentation.</p>
<p>Presenters will be required to take their PowerPoint presentations to the conference on a CD-ROM or USB memory stick.  A speakers preparation room with an audiovisual technician will load your presentation.</p>
<h4>Grants and prizes</h4>
<p>ANZAHPE invites nominations for awards, which are presented at the Conference.  Nominations for the awards must be received by 15 March 2013.  Please refer to the ANZAHPE website for further information.</p>
<h4>Information for paper reviewers and those submitting abstracts</h4>
<p>The 2013 ANZAHPE conference will use a double review process that meets requirements for peer review of publications.</p>
<h3>Submission Instructions</h3>
<p>Abstracts must be submitted online via the link below.
<ul>
  <li>All abstracts must be submitted online at the Conference Website</li>
  <li>Accessing the "registration area" - When you register your abstract you will be given an access code and have the ability to set up a password.  If you wish to make any changes you can do you by accessing your profile with your access and password. Please follow the abstract submission guidelines provided on the site once you register your abstract.</li>
  <li>Abstract Templates - please refer to the Conference website for specific abstract templates per presentation type. All abstracts must adhere to the template format specific to the presentation type you are submitting for.
All abstracts must be original work.</li>
  <li>The abstract, being a pr&eacute;cis of your paper, should be approximately 250 words. Your abstract must include the presentation title and the name, organisation, suburb, state and email address (optional) for each author.  Indicate the presenting Author(s).</li>
  <li>You are welcome to submit multiple presentations.</li>
  <li>Indicate preference of presentation and conference theme.</li>
  <li>The title should be brief, explicit and typed in Title Case.</li>
  <li>If submitting more than one abstract, information requested in the abstract submission form must be completed and submitted with each abstract.
Acceptance or otherwise is at the discretion of the Conference Program Committee. The presenting speaker will be advised in writing of the Committee's decision 7 March 2013.</li>
  <li>Upon acceptance of abstracts, presenting speakers will be forwarded a set of speaker's briefing notes.</li>
</ul>
<p class="notify">The registration brochure and online registration will be available on the Conference website in December 2012.</p>
<%= link_to "Submit your abstracts", "http://www.conferenceonline.com.au/index.cfm?page=booking&object=abstract&forceHB=1&id=272", :class => 'button' %>