<h1>Sponsors</h1>
<h2>Sponsorship & Exhibition Opportunities</h2>
<p>The sponsorship of the ANZAHPE Conference provides a unique opportunity for your organisation.  Sponsorship and exhibition opportunities are now open. For further information please contact the <%= link_to "Conference Management Office", main_contact_path %>.</p>
<a href="#" class="button">Download the sponsorship and exhibition prospectus</a>