<h1>Sponsors</h1>
<h2>Sponsorship & Exhibition Opportunities</h2>
<p>The sponsorship of the ANZAHPE Conference provides a unique opportunity for your organisation. Sponsorship and exhibition opportunities are now open. For further information please contact the <%= link_to "Conference Management Office", main_contact_path %>.</p>
<%= link_to "Download the sponsorship and exhibition prospectus", "/assets/ANZAHPE13-Sponsorship&Exhibition-Packages.pdf", :class => 'document', :target => '_blank' %>