/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

// sizes
$page_width: 1040px;
$margin_left: 390px;
$margin_top: 0;

// css import
@import 'reset';
@import 'helpers';
@import 'compass/css3';


// make the content stretch to fill the window
html, body {
  height: 100%;
}

// layout styles
body {
  min-width: $page_width;
  background: white url(colour-graphic.png) top left no-repeat;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 13px;
  color: #333333;
}

#content {
  width: 600px;
  position: relative;
  top: $margin_top;
  left: $margin_left;
  padding: 0px 50px 100px 0;
}

#header {
  color: white;
  position: relative;
  width: 330px;
  height: 246px;
  overflow: hidden;
    h1 {
      font-size: 15px;
      line-height: 20px;
    }
}

// navigation
#nav {
  position: absolute;
  left: $margin_left;
  width: 600px;
  height: 136px;
  > a {
      display: block;
      position: absolute;
      top: -70px;
      opacity: 0.9;
      @include transition(top 600ms ease-in);
    &:hover {
      top: 0;
      opacity: 1.0;
      }
    &.current {
      top: 0;
      opacity: 1.0;
    }
  }
  h2 {
    display: none;
  }
}

#program {
  background: url(program.png);
  width: 146px;
  height: 136px;
  left: 3px;
}

#sponsors {
  background: url(sponsors.png);
  width: 163px;
  height: 122px;
  left: 108px;
}

#register {
  background: url(register.png);
  width: 166px;  
  height: 128px;
  left: 229px;
}

#host {
  background: url(host.png);
  width: 125px;
  height: 130px;
  left: 359px;
}

#contact {
  background: url(contact.png);
  width: 158px;
  height: 122px;
  left: 445px;
}

// paragraph and heading styles
h1 {
  font-size: 40px;
  font-weight: 700;
  clear: both;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: black;
}

#title {
  font-size: 80px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
  clear: both;
  color: #20709F;
  text-transform: capitalize;
  &.dates, &.location {
    color: black;
    margin: 0;
    text-transform: uppercase;
  }
  &.dates {
    margin-top: -40px;
    font-size: 40px;
  }
  &.location {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

h3 {
  clear: both;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

h4 {
  font-weight: 700;
  margin-bottom: 0;
}

p {
  margin:5px 0 15px;
  line-height: 20px;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

.notify {
  color: #E0007D;
  font-weight: 700
}

.cavet {
  font-size: 10px;
}

.float {
  float: left;
  margin-right: 50px;
}

.title {
  font-weight: 700;
  color: #E0007D;
  margin-bottom: 0;
  font-size: 15px;
  margin-top: 20px;
}

.clear {
  clear: both;
}

//links
a {
  color: #20709F;
  text-decoration: none;
  border: none;
  outline: none;
  &:hover, &:visited, &:active {
    border:none;
    outline:none;
  }
  &:hover {
    text-decoration: underline;
    color: #E0007D;
  }
  .sponsor {
    color: #333333;
  }
  &.button {
    padding: 9px 10px 10px 10px;
    margin: 5px 5px 5px 0;
    background-color: #20709F;
    display: inline-block;
    color: white;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    vertical-align: middle;
    @include text-shadow(1px 1px 0px rgba(0, 0, 0, 0.3));
    @include border-radius(4px);
    @include transition(all 200ms linear);
    @include background-image(linear-gradient(top, #2088C3, #20709F));
    &:hover {
      @include box-shadow(0px 0px 20px #B60766);
      background-color: #E0007D;
    }
    &:after {
      content: ">";
      font-size: 12px;
      font-weight: 700;
      margin: 0 0 0 7px;
      color: white;
    }
  }
  &.document {
    @include border-radius (4px);
    @include transition(background 150ms linear);
    background: #2088C3 url(icon-document.png) center left no-repeat;
    display: inline-block;
    border: 0px;
    padding: 8px 14px 8px 36px;
    margin: 12px 10px 12px 0;
    color: white;
    font-weight: 600;
    text-decoration:none;
    &:hover, &:focus {
      background-color: #20709F;
    }
    &:visited {
      color: white;
      border: none;
    }
    &:visited:hover {
      color: white;
    }
  }
}

#gotop{
  width: 140px;
  padding: 5px;
  position: fixed;
  bottom: 0px;
  right: 10px;
  text-align: center;
  font-weight: 600px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  background: url(back-to-top.png) no-repeat;
  opacity: 0.9;
  z-index: 100;
  display: none;
  &:hover {
    opacity: 1.0;
  }
}

//list-styles
ul {
  margin: 10px 50px 15px 30px;
  li {
  list-style: url(bullet.png);
  }
}

ol {
  margin: 10px 50px 15px 30px;
  li {
    list-style:decimal;
  }
}

//table styles
dt {
  float: left;
  clear: left;
  font-weight: 600;
  margin-bottom: 3px;
}

dd {
  margin-left: 300px;
  margin-bottom: 3px;
}

.striped {
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;
  caption {
    text-align: left;
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 11px;
    color: #B3B3B3;
  }
  tr, th, td {
    border: 1px solid #B3B3B3;
    padding: 10px;
  }
  th {
    font-weight: 700;
    text-align: center;
  }
  tbody tr:nth-child(2n+1) {
    background: #FCE8F2;
  }
}

//images
.profile {
  float: right;
  margin: 5px 0 15px 15px;
  padding: 3px;
  border: solid 1px #d3d3d3;
  clear: left;
}

.sponsor {
  margin: 20px 0 130px 51px;
  float: left;
  width: 166px;
  height: 216px;
  h2 {
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 240px;
    margin-bottom: 0;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 11px;
  }
}

.monash {
  background: url(Monash-Uni.png) center center no-repeat;
}

.flinders {
  background: url(Flinders-Uni-Logo.png) center center no-repeat;
}

.unimelb {
  background: url(UoM-Logo.png) center center no-repeat;
}

.col {
  float: left;
  width: 275px;
  margin-left: 50px;
}

.first {
  margin-left: 0;
}