<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Australian & New Zealand Association for Health Professional Educators (ANZAHPE) 2013 Conference</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
</head>
<body>
  <div id="header">
    <h1>ANZAHPE LOGO?</h1>
  </div>
  <div id="content">

    <%= yield %>

  </div>
</body>
</html>